.header-container {
    width: 80%;
    padding: 1% 10%;
    display: flex;
    position: fixed;
    transition: 500ms;
}

.header-container1 {
    width: 80%;
    padding: 1% 10%;
    display: flex;
    position: fixed;
    background: #fff;
    transition: 500ms;
}

.logo {
    
}

.link-container {
    margin-left: 10%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-container a {
    text-decoration: none;
    color: #505F98;
    font-size: 90%;
    font-family: 'SFLight'
}

.social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35%;
    width: 20%;
}

.social-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35%;
    width: 20%;
}

.social-container i {
    color: #fff;
}

.social-container1 i {
    color: #505F98;
}