.header-container {
    width: 80%;
    padding: 1% 10%;
    display: flex;
    position: fixed;
    transition: 500ms;
}

.header-container1 {
    width: 80%;
    padding: 1% 10%;
    display: flex;
    position: fixed;
    background: #fff;
    transition: 500ms;
}

.invisible {
    display: none;
}

.logo {
    width: 100%;
}

.main-logo-link {
    width: 13%;
}

.main-logo-white-link {
    display: none;
}

.link-container {
    margin-left: 10%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-container a {
    text-decoration: none;
    color: #505F98;
    font-size: 90%;
    font-family: 'SFLight'
}

.social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35%;
    width: 20%;
}

.social-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 35%;
    width: 20%;
}

.social-container i {
    color: #fff;
    cursor: pointer;
}

.social-container1 i {
    color: #505F98;
    cursor: pointer;
}

.logo-white {
    display: none;
}

.nav-icon {
    display: none;
}

.myLinks {
    display: none;
}

@media screen and (max-width: 920px) {
    .logo {
        display: none;
    }

    .logo-white {
        width: 100%;
        display: block;
    }

    .main-logo-link {
        display: none;
    }

    .main-logo-white-link {
        display: block;
        width: 15%;
    }

    .header-container {
        width: 90%;
        padding: 1% 5%;
        display: flex;
        position: fixed;
        background: #66B164;
        justify-content: space-between;
    }

    .header-container1 {
        width: 90%;
        padding: 1% 5%;
        display: flex;
        position: fixed;
        background: #66B164;
        justify-content: space-between;
    }

    .link-container {
        display: none;
    }

    .social-container {
        display: none;
    }

    .social-container1 {
        display: none;
    }

    .nav-icon {
        display: block;
        color: #fff;
    }

    

    .myLinks {
        display: block;
        overflow: hidden;
        background-color: #66B164;
        /* position: relative; */
        position: fixed;
        width: 100%;
        z-index: 15;
        top: 5%;
        left: 0;
    }

    .myLinks a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .myLinks a:hover {
        background-color: #ddd;
        color: black;
    }


}

@media screen and (max-width: 500px) {
    .header-container {
        width: 90%;
        padding: 3% 5%;
        display: flex;
        position: fixed;
        background: #66B164;
    }

    .header-container1 {
        width: 90%;
        padding: 3% 5%;
        display: flex;
        position: fixed;
        background: #66B164;
    }

    .logo-white {
        width: 100%;
        display: block;
    }

    .main-logo-white-link {
        display: block;
        width: 30%;
    }

}