.contact-section2-container {
    padding: 5% 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
}

.contact-section2-text-block {
    width: 30%;
}

.contact-section2-text-block>h1 {
    font-family: 'RobotoMedium';
    font-weight: normal;
    color: #091133;
    margin: 0;
    font-size: 210%;
}

.contact-section2-text-block>h3 {
    font-size: 100%;
    line-height: 150%;
    font-weight: normal;
    font-family: 'RobotoRegular';
    color: #76848C;
    padding-bottom: 5%;
}

.contact-section2-text-block>h4 {
    font-size: 100%;
    line-height: 150%;
    font-weight: normal;
    font-family: 'RobotoMedium';
    color: #091133;
}

.contact-section2-text-block > p{
    font-size: 100%;
    line-height: 150%;
    font-weight: normal;
    font-family: 'RobotoRegular';
    color: #76848C;
    /* padding-top: 15%; */
    text-align: justify
}

.contact-section2-container>img {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .contact-section2-container {
        flex-direction: column;
    }

    .contact-section2-text-block {
        width: 100%;
        text-align: center;
    }

    .contact-section2-container > img {
        width: 600px;
        padding-top: 10%;
    }
}

@media screen and (max-width: 500px) {
    .contact-section2-container {
        flex-direction: column;
        padding: 10%;
        width: 80%;
    }

    .contact-section2-text-block {
        width: 100%;
        text-align: center;
    }

    .contact-section2-container > img {
        width: 310px;
        padding-top: 10%;
    }
}
