.first-section-container {
    background-image: url("../../../assets/Component.png");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.text-container {
    padding-top: 10%;
    width: 40%;
    padding-left: 10%;
}

.text-container h1 {
    font-family: 'RobotoMedium';
    font-size: 300%;
    line-height: 140%;
    color: #091133;
    font-weight: normal;
}

.text-container p {
    line-height: 200%;
    color: #76848C;
    font-family: 'RobotoRegular';
    font-size: 109%;
    line-height: 170%;
    text-align: justify;
    margin-bottom: 10%;
}

.img-container {
    width: 50%;
    padding-top: 10%;
    align-items: center;
}

.phone {
    width: 60%;
    padding-left: 20%;
}

.button-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.link-button {
    text-decoration: none;
    font-family: 'RobotoMedium';
    width: 45%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}

.solid {
    /* padding: 2% 13%; */
    background: #66B164;
    color: #fff;
    border-radius: 3px;
}

.stripe {
    outline: 2px solid black;
    outline-offset: -2px;
    color: #000;
}

@media screen and (max-width: 1000px) {
    .first-section-container {
        background-image: url("../../../assets/Oval.png");
        /* background: #fff; */
        width: 100%;
        display: block;
        justify-content: space-between;
        padding-bottom: 10%;
        background-size: 300%;
    }

    .text-container {
        width: 80%;
        padding: 10%;
        text-align: center;
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .img-container {
        width: 100%;
        padding-top: 20%;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .first-section-container {
        width: 100%;
        display: block;
        justify-content: space-between;
        padding-bottom: 10%;
        background-size: 700%;
        background-position-y: 2cm;
    }

    .text-container h1 {
        font-family: 'RobotoMedium';
        font-size: 210%;
        line-height: 140%;
        color: #091133;
        font-weight: normal;
    }

    .text-container p {
        line-height: 200%;
        color: #76848C;
        font-family: 'RobotoRegular';
        font-size: 100%;
        line-height: 150%;
    }
}