.second-container {
    background: #fff;
    display: flex;
    padding: 10% 10%;
    align-items: center;
    justify-content: space-between;
}

.second-left {
    width: 40%;
}

.second-left h1 {
    font-family: 'RobotoMedium';
    font-weight: normal;
    color: #091133;
    padding-bottom: 5%;
}

.second-left p {
    font-family: 'RobotoRegular';
    color: #76848C;
    line-height: 160%;
    text-align: justify;
    font-size: 97%;
    /* margin-top: 8%; */
}

.second-left p > span {
    font-family: 'RobotoBold'
}

.fruit {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .second-container {
        background: #fff;
        display: flex;
        padding: 10% 10%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .fruit {
        width: 600px;
    }

    .second-left {
        width: 100%;
        text-align: center;
        padding-top: 10%;
    }
}

@media screen and (max-width: 500px) {
    .second-container {
        background: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10% 5%;
    }

    .fruit {
        width: 310px;
    }

    .second-left {
        width: 100%;
        text-align: center;
    }

    .fruit {
        width: 100%;
    }

    .second-left p {
        font-family: 'SFRegular';
        color: #6F7CB2;
        line-height: 150%;
    }
}