.footer-container {
    background: #FBFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.footer-nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.footer-nav a {
    text-decoration: none;
    color: #929ECC;
    font-family: 'RobotoLight';
    font-size: 80%;
}

.footer-nav a:hover {
    opacity: 0.7;
}

.footer-media-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding: 3% 0;
}

.footer-media-container i {
    color: #B0B8BC;
}

.footer-media-container i:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer-container > p {
    color: #B0B8BC;
    font-size: 70%;
    margin: 5px 0;
}

.terms-block {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.terms-block > a {
    color: #B0B8BC;
    font-size: 70%;
    margin: 5px 0;
    text-decoration: none;
}

.terms-block > a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .footer-nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
        align-items: center;
        margin-bottom: 5%;
    }

    .terms-block {
        flex-direction: column;
        align-items: center;
    }

    .terms-block a {
        margin-bottom: 5%;
    }

    .footer-nav a , .terms-block a{
        text-decoration: none;
        color: #929ECC;
        font-family: 'RobotoLight';
        font-size: 100%;
    } 

    .footer-media-container {
        width: 70%;
        margin-bottom: 5%;
    }
}