.footer-container {
    background: #FBFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.footer-nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.footer-nav a {
    text-decoration: none;
    color: #929ECC;
    font-family: 'SFLight';
    font-size: 80%;
}

.footer-media-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding: 3% 0;
}

.footer-media-container i {
    color: #B0B8BC;
}

.footer-container > p {
    color: #B0B8BC;
    font-size: 70%;
    margin: 5px 0;
}