.contact-section3-container {
    background: #ffff;
    padding: 10%;
    width: 80%;
    background-image: url('../../../assets/Oval.png');
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
}

.contact-section3-container>img {
    width: 35%;
    align-self: center;
}

.contact-section3-text-block {
    width: 42%;
}

.contact-section3-text-block>h1 {
    font-family: 'RobotoMedium';
    font-weight: normal;
    color: #091133;
    margin: 0;
    padding-bottom: 4%;
}

.contact-section3-text-block>h4 {
    font-size: 100%;
    line-height: 150%;
    font-weight: normal;
    font-family: 'RobotoRegular';
    color: #76848C;
    padding-bottom: 5%;
    width: 64%;
}

.contact-section3-text-block>p{
    font-size: 100%;
    line-height: 150%;
    font-weight: normal;
    font-family: 'RobotoRegular';
    color: #76848C;
    padding-top: 10%;
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .contact-section3-text-block {
        width: 48%;
    }
}

@media screen and (max-width: 1000px) {
    .contact-section3-container {
        flex-direction: column-reverse;
        background-size: 200%;
        background-position-y: 25cm;
        background-position-x: 0cm;
    }

    .contact-section3-container > img {
        width: 250px;
        padding-top: 10%;
    }

    .contact-section3-text-block {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contact-section3-text-block > h4 {
        width: 100%;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1000px) {

    .contact-section3-container {
        padding: 10% 5%;
        width: 90%;
    }

    .contact-section3-container > img {
        width: 200px;
        padding-top: 10%;
    }
}