.sixth-container {
    background: #FBFBFD;
    padding-top: 2%;
}

.sixth-container h1{
    text-align: center;
    font-family: 'RobotoMedium';
    font-weight: normal;
    font-size: 210%
}

.recognition-logo {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 3% 5%;
}

.recognition-logo img {
    padding: 2% 4%;
}

@media screen and (max-width: 500px) {
    .sixth-container {
        background: #FBFBFD;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .recognition-logo img {
        padding: 4% 4%;
        width: 40%;
    }
}