body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FBFBFD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: SFBold;
  src: url(../src/assets/fonts/SFUIDisplay-Bold.ttf)
}

@font-face {
  font-family: SFMedium;
  src: url(../src/assets/fonts/SFUIDisplay-Medium.ttf)
}

@font-face {
  font-family: SFRegular;
  src: url(../src/assets/fonts/SFUIDisplay-Regular.ttf)
}

@font-face {
  font-family: SFLight;
  src: url(../src/assets/fonts/SFUIText-Light.ttf)
}

/* Roboto */

@font-face {
  font-family: RobotoBold;
  src: url(../src/assets/Roboto/Roboto-Bold.ttf)
}

@font-face {
  font-family: RobotoMedium;
  src: url(../src/assets/Roboto/Roboto-Medium.ttf)
}

@font-face {
  font-family: RobotoRegular;
  src: url(../src/assets/Roboto/Roboto-Regular.ttf)
}

@font-face {
  font-family: RobotoLight;
  src: url(../src/assets/Roboto/Roboto-Light.ttf)
}

html {
  scroll-behavior: smooth;
  background: #FBFBFD
}