.contact-section1-container {
    padding: 0 10%;
    width: 80%;
    height: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 2, 11, 0.4); */
    background-image: url('../../../assets/contactBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.contact-section-text-block {
    color: #ffff;
    text-align: center;
}

.contact-section-text-block>h1 {
    font-family: 'RobotoMedium';
    font-weight: normal;
    font-size: 300%;
}

.contact-section-text-block>p {
    font-family: 'RobotoRegular';
    font-size: 109%;
    line-height: 170%;
    margin-bottom: 5%;
}

@media screen and (max-width: 1000px) {
    .contact-section1-container {
        height: 100vh;
        background-size: 200%;
    }
}

@media screen and (max-width: 500px) {
    .contact-section1-container {
        height: auto;
        padding: 10%;
        width: 80%;
        background-size: 300%;
    }

    .contact-section-text-block>h1 {
        font-size: 210%;
        line-height: 140%;
    }

    .contact-section-text-block>p {
        font-size: 100%;
        line-height: 150%;
    }
}